<div class="footer">
  <div class="row">
    <div class="col-md-2">
      <h3>Who We Are</h3>
      <ul>
        <li><a>About Us </a></li>
        <li><a>Mission, Vission & Goals </a></li>
        <li><a>Our Message </a></li>
        <li><a>Board of Trustees </a></li>
        <li><a>Board of Directors </a></li>
        <li><a>FAQ's </a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>What We Do</h3>
      <ul>
        <li><a>Research</a></li>
        <li><a>Programmes</a></li>
        <li><a>Collaborations</a></li>
        <li><a>in2Hc</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Get Involved</h3>
      <ul>
        <li><a>Donate</a></li>
        <li><a>Partners</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Media Center</h3>
      <ul>
        <li><a>Photo Gallery</a></li>
        <li><a>Video Gallery</a></li>
        <li><a>Our Message </a></li>
        <li><a>Social Media Hub</a></li>
        <li><a>Events</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h3>Contact Us</h3>
      <ul>
        <li><a>Contact Details</a></li>
        <li><a>Careers</a></li>
      </ul>
      <div class="row">
        <h3>Subscribe to our Newsletter</h3>
        <div class="input-group mb-3">
          <input
            placeholder="Enter Your email address"
            type="email"
            id="email"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyrights">
  <div class="left">
    <ul>
      <li><a>Terms & Conditions</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>User Agreement</a></li>
      <li><a>Sitemap</a></li>
    </ul>
  </div>
  <div class="right">Copyright 2016 LinkDev. All Rights Reserved.</div>
</div>
