<div class="menu">
  <ul>
    <li><a href="#">home</a></li>
    <li><a href="#">who we are</a></li>
    <li>
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="mediaLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        what we do
      </a>

      <div class="dropdown-menu" aria-labelledby="mediaLink">
        <a class="dropdown-item" href="#">research</a>
        <a class="dropdown-item" href="#">programmes</a>
        <a class="dropdown-item" href="#">collaborations</a>
        <a class="dropdown-item" href="#">in2Hc</a>
      </div>
    </li>
    <li><a href="#">get involved</a></li>
    <li>
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="mediaLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        media center
      </a>

      <div class="dropdown-menu" aria-labelledby="mediaLink">
        <a class="dropdown-item" href="./press_release">press release</a>
        <a class="dropdown-item" href="#">photo gallery</a>
        <a class="dropdown-item" href="#">video gallery</a>
        <a class="dropdown-item" href="#">social media hub</a>
        <a class="dropdown-item" href="#">events</a>
      </div>
    </li>
    <li><a href="#">contact us</a></li>
  </ul>
  <div class="search">
    <a>
      <i class="fas fa-search fa-flip-horizontal"></i>
    </a>
  </div>
</div>
