<div class="header">
  <img
    src="assets/linkdevlogo.png"
    srcset="assets/linkdevlogo@2x.png 2x, assets/linkdevlogo@3x.png 3x"
    class="linkdevlogo"
  />
  <div class="group">
    <div class="auth">
      <a href="#">register</a>
      <a>|</a>
      <a href="#">login</a>
    </div>
    <div class="lang">
      <a class="circle" href="#">en</a>
      <a href="#"> ar</a>
      <a>|</a>
      <a class="A" href="#">A</a>
      <a class="A small" href="#">A</a>
    </div>
  </div>

  <app-menu></app-menu>
</div>
