<div class="investments">
  <div class="back_image"></div>
  <div class="shadow"></div>

  <div class="content">
    <div class="title">
      <h1>Today’s Investments, Tomorrow’s Cures</h1>
      <h2>Support the different programs we have below</h2>
    </div>
    <div class="boxes">
      <div class="box a">
        <div class="icon">
          <img src="assets/layer-56.png" />
        </div>
        <h3>Ta’alouf</h3>
        <p>+</p>
      </div>
      <div class="box b">
        <div class="icon">
          <img src="assets/layer-23.png" />
        </div>
        <h3>Zakat</h3>
        <p>+</p>
      </div>
      <div class="box c">
        <div class="icon">
          <img src="assets/layer-57.png" />
        </div>
        <h3>A’awen</h3>
        <p>+</p>
      </div>
      <div class="box d">
        <div class="icon">
          <img src="assets/flower-20.png" />
        </div>
        <h3>Fundraising</h3>
        <p>+</p>
      </div>
      <div class="box e">
        <div class="icon">
          <img src="assets/layer-58.png" />
        </div>
        <h3>Scholarships</h3>
        <p>+</p>
      </div>
      <div class="box f">
        <div class="icon">
          <img src="assets/flowers-12.png" />
        </div>
        <h3>Omniyat Dania</h3>
        <p>+</p>
      </div>
      <div class="box g">
        <div class="icon">
          <img src="assets/layer-59.png" />
        </div>
        <h3>Medical Research</h3>
        <p>+</p>
      </div>
    </div>
  </div>
</div>
